src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e8eddfc-d0df-4afb-a247-727cb37fd8f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="287749cd-4e76-409f-8d82-48682e9a483d" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="b088d8fc-1014-4894-8c76-6a83a1b7c117" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="c5b01c62-ef22-4bcb-ba06-88668f391b49" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config3" doc:name="Database Config" doc:id="a0847415-216a-4555-87e5-b8e201b64360" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config4" doc:name="Database Config" doc:id="a4776364-4f07-4c7e-8452-d38f46302905" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="ea6d7aa8-1168-47db-a5ae-9474101ea87d" >
		<db:select doc:name="Select" doc:id="0ce61982-3b7d-4138-8906-d3db963e11c7" config-ref="Database_Config4">
			<db:sql ><![CDATA[SELECT *
FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5e5cabc5-a2ac-490d-b88e-e6a63330cd89" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="5bd19e10-70ae-4d06-a12d-1e2050bd0638" >
		<db:select doc:name="Copy_of_Select" doc:id="26fd662c-8934-471d-9860-a341fd2825b9" config-ref="Database_Config4" >
			<db:sql ><![CDATA[SELECT *
FROM american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="3e7ce077-4631-43e6-855c-1546dd25896a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="8eb60925-2eef-40ff-a1db-11aab1618adc" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="bb3edc1c-230a-4d2f-a3d7-537b7ae3c101" />
	</flow>
</mule>
